*, *::before, *::after {
  box-sizing: border-box;
  }

body{
  margin: 0;
}

.text-highlight{
  color: #ADA7FF;
}

.image{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 60px;
}

